﻿/* CSS Document */
body {
  margin:0;
  padding:0;
  position:relative;
  font-family: Arial, sans-serif; 
  position:relative;
  overflow: hidden;
  background-color: #93b475;
}
  
#profile {
  background: url(../images/profile.png);
  width:324px;
  height:200px;
  margin:0;
  position:fixed;
  top:0;
}

#spec {
  display:block;
  width:50%;
  margin:auto;
  text-align:center;
}

#resourcesBar ul {
  position:fixed;
  top:0;
  left:25%;
  margin:auto;
}
  
#resourcesBar li {
  display: inline-block;
  position:relative;
  margin:0;
  width:116px;
  height:39px;
  background: url(../images/images.png) -1444px 0;
}

#resourcesBar li div {
  float:left;
} 

#resource {
  position:absolute;
  right:5px;
  top:0;
} 

#income {
  position:absolute;
  left:5px;
  bottom:0;
  float:left;
}

#capacity {
  position:absolute;
  right:5px;
  bottom:0;
}


#wood {
  width:24px;
  height:22px;
  margin-left:5px;
  display:block;
  background: url(../images/images.png) -324px 0;
}

#stone {
  width:26px;
  height:22px;
  margin-left:5px;
  display:block;
  background: url(../images/images.png) -348px 0;
}

#gold {
  width:22px;
  height:22px;
  margin-left:5px;
  display:block;
  background: url(../images/images.png) -374px 0;
}

#iron {
  width:19px;
  height:22px;
  margin-left:5px;
  display:block;
  background: url(../images/images.png) -398px 0;
}

#earth {
  width:24px;
  height:22px;
  margin-left:5px;
  display:block;
  background: url(../images/images.png) -418px 0;
}

#time {
  width:23px;
  height:23px;
  margin-left: 5px;
  display:block;
  background: url(../images/images.png) -443px 0;
}

#sling {
  width:24px;
  height:22px;
  margin-left: 5px;
  display:block;
  background: url(../images/images.png) -466px 0;
}

#spear {
  width:25px;
  height:23px;
  margin-left: 5px;
  display:block;
  background: url(../images/images.png) -490px 0;
}

#sword {
  width:20px;
  height:23px;
  margin-left: 5px;
  display:block;
  background: url(../images/images.png) -515px 0;
}

#heavyArmour {
  width:20px;
  height:22px;
  margin-left: 5px;
  display:block;
  background: url(../images/images.png) -535px 0;
}

#lightArmour {
  width:20px;
  height:22px;
  margin-left: 5px;
  display:block;
  background: url(../images/images.png) -555px 0;
}

#actionBar ul {
  position:fixed;
  right:0;
  top:0;
  margin:auto;
}

#actionBar li {
  width:59px;
  height:62px;
}

#actionBar li a {
  display: block;
  width:59px;
  height:62px;
}

#map {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -41px;
}

#town {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -102px;
}

#diplomacy {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -164px;
}

#stoarm {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -226px;
}

#army {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -288px;
}

#administrator {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -350px;
}

#research {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -412px;
}

#statistic {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -536px;
}

#help {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -474px;
}

.button {
  width:59px;
  height:62px;
  display:block;
  position:absolute;
}

#townHall {
  top:40px;
  left:20px;
  background: url(../images/images.png) -1541px -598px;
}

#barrack {
  top:40px;
  left:82px;
  background: url(../images/images.png) -1482px -598px;
}

#storage {
  top:40px;
  left:144px;
  background: url(../images/images.png) -1482px -536px;
}

#armory {
  top:40px;
  left:206px;
  background: url(../images/images.png) -1482px -350px;
}

#burrow {
  top:105px;
  left:20px;
  background: url(../images/images.png) -1482px -474px;
}

#platner {
  left: 82px;
  top:105px;
  background: url(../images/images.png) -1482px -412px;
}

#archer {
  top:40px;
  left:20px;
  background: url(../images/images.png) -1423px -474px; 
}

#slinger {
  top:40px;
  left:82px;
  background: url(../images/images.png) -1423px -536px; 
}

#spearman {
  top:40px;
  left:144px;
  background: url(../images/images.png) -1423px -412px; 
}

#swordman {
  top:40px;
  left:206px;
  background: url(../images/images.png) -1423px -350px;
}

#registration, #login {
  width:50%;
  height:50%;
  margin:auto;
  text-align: center;
}

#experienceBar {
  width:290px;
  height:5px;
  position:fixed;
  left:10px;
  top:220px;
  background-color: rgb(234,234,234);
}

#showExp {
  height:5px;
  width:290px;
}

#playerProfile {
  width:290px;
  height:39px;
  position:fixed;
  left:10px;
  top:230px;
  text-align:center;
  background-image: url(../images/player_profile_bg.jpg);
  background-repeat: repeat-x;
  padding: 0.2em 0;
}

#bottomBar {
  width:300px;
  height:350px;
  position:fixed;
  bottom:0;
  left:0;
  background-color: rgb(174,159,139);
  box-shadow: 0 0 10px #5f584b;
}

#bottomBar h1 {
  width:100%;
  font-size: 1em;
  text-align: center;
}

#bottomBar span {
  float: right;
  margin: 0.1em 1em 0 0;
}

#infoBar {
  width:300px;
  height: 350px;
  position: fixed;
  bottom:0;
  left:300px;
  background-color: rgb(174,159,139);
}

#infoBar span {
  float:right;
  margin:0.1em 1em 0 0;
}


.pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.logout {
  position:fixed;
  bottom:0
  left:0;
}

#score_table {
  color: #39342a;
  width:50%;
  height:50%;
  background: red;
  position: absolute;
  left:25%;
  top: 25%;
  border-radius: 10px;
  background: #c7bda6;
  box-shadow: 0 0 10px #5f584b; 
  z-index: 200;
}

#score_table span {
  font-weight: bold;
  margin: 0.5em 1em 0 0;
  float:right;
}

#score_table h1 {
  font-size: 1.2em;
  width:100%;
  text-align: center;
  border-bottom:thin solid #5f584b;
}

#score_table table {
  color: #39342a;
  width: 90%;
  margin:auto;
  border-spacing: 0 0;
}

#score_table tr {
  width:100%;
}

#score_table th {
  text-align: center;
}

.score_table_even {
  background:#d0c9b8; 
}

.score_table_odd {
  background: #e1d8c4; 
}

#score_table tr > td + td {
  text-align: right;
  padding-right: 1em;
}

#score_table td {
  width: 50%;
  padding-left: 1em;
  box-shadow: 0 0 5px #6f6755;
}

footer {
  width:100%;
  text-align:center;
  position:fixed;
  bottom:0;
}

.buildPlace {
  width:100px;
  height:100px;
  position: absolute;
}

.buildPlace a {
  display: block;
  width:100px;
  height:100px;
}

#buildPlace1 {
  left: 700px;
  top:200px;
}

#buildPlace2 {
  left: 800px;
  top:50px;
}

#buildPlace3 {
  left: 400px;
  top:200px;
}

#buildPlace4 {
  left: 1000px;
  top:50px;
}

#buildPlace5 {
  left: 600px;
  top:300px;
}

#buildPlace6 {
  left: 750px;
  top:300px;
}

#buildPlace7 {
  left: 1000px;
  top:250px;
}

#buildPlace8 {
  left: 400px;
  top:400px;
}

#buildPlace9 {
  left: 750px;
  top:420px;
}

#buildPlace10 {
  left: 600px;
  top:450px;
}

#infoBar input[submit] {
  display: block;
}

.warning {
  color:red;
}


