body {
  font-family: Tahoma, Verdana, sans-serif;
}

.error {
  margin:0;
  padding:0.5;
  color:rgb(255,0,0);
  font-size: 0.9em;
}

.loose2 {
  width:80%;
  margin:2em 1em;
  padding:0.5em;
  background: rgb(255,0,0);
  color: rgb(255,255,255);
}

.setting_box {
  width:50%;
  padding:1em 3em;
  margin:auto;
  text-align: center;
  background: #c7bda6;
  color: #39342a;
  border-radius: 20px;
  box-shadow: 0 0 10px #39342a;
  margin-bottom: 2em;
}

.setting_box table {
  margin:auto;
  text-align: left;
}

.setting_box h1 {
  font-size: 1em;
}

.setting_box h2 {
  font-size: 0.9em;
  border-bottom: thin solid #837a69;
}

.h {
  color:#39342a;
  text-align: center;
}

#profile {
    width:290px;
    height:39px;
  position:fixed;
    left:10px;
    top:230px;
    text-align:center;
    background-image: url(../images/player_profile_bg.jpg);
    background-repeat: repeat-x;
    padding: 0.2em 0;
    z-index: 200;
}

#profile p {
  margin:0;
  font-size: 0.9em;
  margin-top:-2px;
}

#resourcesBar ul {
  position:fixed;
  top:0;
  left:25%;
  margin:auto;
}
  
#resourcesBar li {
  display: inline-block;
  position:relative;
  margin:0;
  width:116px;
  height:39px;
  background: url(../images/images.png) -1444px 0;
}

#resourcesBar li div {
  float:left;
} 

#resource {
  position:absolute;
  right:5px;
  top:0;
} 

#income {
  position:absolute;
  left:5px;
  bottom:0;
  float:left;
  color: #28f400;
}

#capacity {
  position:absolute;
  right:5px;
  bottom:0;
}


#wood, .woodIcon {
  width:24px !important;
  height:22px !important;
  margin-left:5px;
  display:block !important;
  background: url(../images/images.png) -324px 0;
}

#stone, .stoneIcon {
  width:26px !important;
  height:22px !important;
  margin-left:5px;
  display:block !important;
  background: url(../images/images.png) -348px 0;
}

#gold, .goldIcon {
  width:22px !important;
  height:22px !important;
  margin-left:5px;
  display:block !important;
  background: url(../images/images.png) -374px 0;
}

#iron, .ironIcon {
  width:19px !important;
  height:22px !important;
  margin-left:5px;
  display:block !important;
  background: url(../images/images.png) -398px 0;
}

#earth, .earthIcon {
  width:24px !important;
  height:22px !important;
  margin-left:5px;
  display:block !important;
  background: url(../images/images.png) -418px 0;
}

#time {
  width:23px;
  height:23px;
  margin-left: 5px;
  display:block !important;
  background: url(../images/images.png) -443px 0;
}

#actionBar ul {
  position:fixed;
  right:0;
  top:50px;
  margin:auto;
  z-index: 200;
}

#actionBar li {
  width:59px;
  height:62px;
  cursor: pointer;
}

#actionBar li a {
  display: block;
  width:59px;
  height:62px;
}

#map {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -41px;
}

#town {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -102px;
}

#diplomacy {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -164px;
}

#stoarm {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -226px;
}

#army {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -288px;
}

#builder {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -350px;
}

#research {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -412px;
}

#statistic {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -536px;
}

#help {
  width:59px;
  height:62px;
  display:block;
  background: url(../images/images.png) -1541px -474px;
}

#logout {
  position:fixed;
  right:0;
  top:0;
  margin:0.5em;
  background: url(../images/images.png) -1562px 0px;
  width:40px;
  height:40px;
  border:none;
  cursor: pointer;
}

#TownHall {
  top:40px;
  left:20px;
  background: url(../images/images.png) -1541px -598px;
}

#Barrack {
  top:40px;
  left:82px;
  background: url(../images/images.png) -1482px -598px;
}

#Storage {
  top:40px;
  left:144px;
  background: url(../images/images.png) -1482px -536px;
}

#Armory {
  top:40px;
  left:206px;
  background: url(../images/images.png) -1482px -350px;
}

#Burrow {
  top:105px;
  left:20px;
  background: url(../images/images.png) -1482px -474px;
}

#ArmoryWork {
  left: 82px;
  top:105px;
  background: url(../images/images.png) -1482px -412px;
}

#Archer {
  top:40px;
  left:20px;
  background: url(../images/images.png) -1423px -474px; 
}

#Slinger {
  top:40px;
  left:82px;
  background: url(../images/images.png) -1423px -536px; 
}

#Spearman {
  top:40px;
  left:144px;
  background: url(../images/images.png) -1423px -412px; 
}

#Swordman {
  top:40px;
  left:206px;
  background: url(../images/images.png) -1423px -350px;
}

.button {
  width:59px;
  height:62px;
  display:block;
  position:absolute;
}

#scoreTable, #helpTable {
  color: #39342a;
  width:50%;
  height:50%;
  background: red;
  position: absolute;
  left:25%;
  top: 25%;
  border-radius: 10px;
  background: #c7bda6;
  box-shadow: 0 0 10px #5f584b; 
  z-index: 200;
}

#scoreTable h1, #helpTable h1 {
  font-size: 1.2em;
  width:100%;
  text-align: center;
  border-bottom:thin solid #5f584b;
}

#scoreTable span, #helpTable span {
  font-weight: bold;
  margin: 0.5em 1em 0 0;
  position:absolute;
  right:0;
  top:0;
  cursor: pointer;
}

#scoreTable table {
  color: #39342a;
  width: 90%;
  margin:auto;
  border-spacing: 0 0;
}

#scoreTable tr {
  width:100%;
}

#scoreTable th {
  text-align: center;
}

.scoreTable_even {
  background:#d0c9b8; 
}

.scoreTable_odd {
  background: #e1d8c4; 
}

#scoreTable tr > td + td {
  text-align: right;
  padding-right: 1em;
}

#scoreTable td {
  width: 50%;
  padding-left: 1em;
  box-shadow: 0 0 5px #6f6755;
}

#helpTable ul {
  font-size: 0.9em;
}

#containHelpTable {
  width: 70%;
  height: 75%;
  float:right;
  background: #ecd1a8;
  border-left: thin solid #39342a;
  color: #39342a;
  padding: 0.5em; 
  overflow-x:hidden; 
  overflow-y: auto;
}

#containHelpTable p, #containHelpTable ul{
  font-size: 0.8em;
  text-align: justify;
}

#containHelpTable ul {
  width:80% !important;
  list-style-type: none;
}

#containHelpTable li {
  height:30px;
}

.buildingsIcon {
  width: auto;
  height: 125px !important;
  margin: 0 0 1em 0;
}

#containHelpTable li div {
  width:100px;
  height: auto;
  float: left;
}

#containHelpTable li p {
  float: left;
  width: 70%;
  margin: 0;
  font-size: 1em;
  margin-left: 0.5em;
}

#containHelpTable li div img {
  width:100px;
  height: 100px;
}

#containHelpTable h3,#containHelpTable h4{
  margin: 0 0 1em 0;
  font-size: 0.9em;
}

#containHelpTable h4 {
  border-top: thin solid #c7bda6;
}

.actual {
  font-weight: bold;
}

#helpTable ul {
  width: 20%;
  float: left;
  margin:0;
}

#experienceBar {
  width:290px;
  height:5px;
  position:fixed;
  left:10px;
  top:220px;
  background-color: rgb(234,234,234);
  z-index: 200;
}

#showExp {
  height:5px;
  width:290px;
  position:fixed;
  left:10px;
  top:220px;
  z-index: 200;
}

#showExp img{
  position:fixed;
  left:10px;
  top:220px;
}

#bottomBar {
  width:300px;
  height:350px;
  position:fixed;
  bottom:0;
  left:0;
  background-image:url(../images/bottomBar.png);
  z-index: 200;
}

#bottomBar span {
  float: right;
  cursor: pointer;
  background: url(../images/images.png) -1562px 0px;
  width:40px;
  height: 40px;
}

#bottomBar h1{
  float:left;
  font-size: 0.9em;
  margin-left: 2em;
  padding:0 5em;
  background-color: rgba(245,240,232,0.7);
  box-shadow: 0 0 20px #dad4ba;
}

#infoBar {
  width:300px;
  height: 350px;
  position: fixed;
  bottom:0;
  left:300px;
  background-image:url(../images/infoBar.png);
  z-index: 200;
}

#infoBar span {
  float:right;
  background: url(../images/images.png) -1562px 0px;
  width:40px;
  height: 40px;
}

#infoBuilding, #infoUnit{
  width:78%;
  height: 90%;
  margin:auto;
  margin-top:2em;
}

#infoBuilding h1, #infoUnit h1 {
  font-size: 1em;
}

#infoBuilding table, #infoUnit table{
  padding: 0 2em;
  margin-top: 0.5em;
  border-top: thin solid #e1d8c4;
}

#infoBuilding td, #infoUnit td{
  padding: 0 0.2em;
  margin:0;
}

.pointer{
  cursor: pointer;
}

.emptyPlace{
  width: 100px;
  height: 100px;
  background-image: url(../images/freeplace.png);
}

.buildPlace, .buildLandPlace {
  position: absolute;
}

#place1 {
  left: 600px;
  top:200px;
}

#place2 {
  left: 800px;
  top:50px;
}

#place3 {
  left: 400px;
  top:200px;
}

#place4 {
  left: 1000px;
  top:50px;
}

#place5 {
  left: 600px;
  top:300px;
}

#place6 {
  left: 750px;
  top:300px;
}

#place7 {
  left: 1000px;
  top:250px;
}

#place8 {
  left: 400px;
  top:400px;
}

#place9 {
  left: 750px;
  top:420px;
}

#place10 {
  left: 600px;
  top:450px;
}

#place11 {
  left: 300px;
  top:500px;
}

#place12 {
  left: 1000px;
  top:450px;
}

#place13 {
  left: 900px;
  top:500px;
}

#place14 {
  left: 700px;
  top:550px;
}

#place15 {
  left: 300px;
  top:100px;
}

#place16 {
  left: 500px;
  top:100px;
}

#placeLand1 {
  left: 200px;
  top:200px;
}

#placeLand2 {
  left: 500px;
  top:50px;
}

#placeLand3 {
  left: 400px;
  top:200px;
}

#placeLand4 {
  left: 800px;
  top:50px;
}

#placeLand5 {
  left: 600px;
  top:300px;
}

.ok {
  padding:2em;
  background: #00dc24;
}

.loose {
  padding:2em;
  background: rgb(255,0,0);
  color: rgb(255,255,255);
}

.burrow {
   width: 100px;
   height: 100px;
   background-image: url(../images/burrow.png);
}

.barrack {
   width: 100px;
   height: 100px;
   background-image: url(../images/barrack.png);
}

.townhall {
   width: 100px;
   height: 100px;
   background-image: url(../images/townHall.png);
}

.armory {
   width: 100px;
   height: 100px;
   background-image: url(../images/armory.png);
}

.storage {
   width: 100px;
   height: 100px;
   background-image: url(../images/storage.png);
}

.armory2 {
   width: 100px;
   height: 100px;
   background-image: url(../images/armory2.png);
}

#backgroundLandMode {
  position: absolute;
  width:auto;
  height:1500px;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index: -100;
  background: url(../images/ahhkhvojii_landmap_1.jpg);
}

#nothing p {
  color: rgb(255,0,0);
  background: #ffc4c4;
  padding: 0.5em;
  width:70%;
  margin-top: 5em;
}

.terrain {
  display: block;
  position: absolute;
}

.forestl {
  width: 100px;
  height: 100px;
  background: url(../images/wood.png);
}

.stonel {
  width: 100px;
  height: 100px;
  background: url(../images/stone.png);
}

#f1 {
  left:100px;
  top:100px;
}

#f2 {
  left:200px;
  top:100px;
}

#f3 {
  left:600px;
  top:200px;
}

#f4 {
  left:700px;
  top:500px;
}

#s1 {
  left:300px;
  top:100px;
}

#s2 {
  left:600px;
  top:100px;
}

#s3 {
  left:600px;
  top:400px;
}

#s4 {
  left:700px;
  top:600px;
}

#village {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 400px;
  top:400px;
  background: url(../images/village.png);
}

#village a {
  width: 100px;
  height: 100px;
  display: block;
}

#time {
  width:23px;
  height:23px;
  margin-left: 5px;
  display:block !important;
  background: url(../images/images.png) -443px 0;
}

#sling {
  width:24px;
  height:22px;
  margin-left: 5px;
  display:block !important;
  background: url(../images/images.png) -466px 0;
}

#spear {
  width:25px;
  height:23px;
  margin-left: 5px;
  display:block !important;
  background: url(../images/images.png) -490px 0;
}

#sword {
  width:20px;
  height:23px;
  margin-left: 5px;
  display:block !important;
  background: url(../images/images.png) -515px 0;
}

#heavyArmour {
  width:20px;
  height:22px;
  margin-left: 5px;
  display:block !important;
  background: url(../images/images.png) -535px 0;
}

#lightArmour {
  width:20px;
  height:22px;
  margin-left: 5px;
  display:block !important;
  background: url(../images/images.png) -555px 0;
}

#bmap {
  position:absolute;
  right:0;
  left:0;
  top:0;
  bottom:0;
  
  display: block;
  background: url(../images/mapa.jpg);
  background-size: cover;
  z-index: -100;
}

#rebuild {
  background: rgba(255,255,255,0.3) url(../images/rebuild.png);
  z-index: 200;
}

#upgradeBuilding {
  background: rgba(255,255,255,0.3) url(../images/upgradeArrow.png);
  z-index: 200;
}

#upgradeBuilding, #rebuild {
  width:20px;
  height: 20px;
  display: block;
  border: thin solid rgb(255,255,255);
  border-radius: 5px;
}

.titleBuilding {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  text-align: center;
  font-size: 1em;
  padding: 0.1em 1em;
  background: rgba(255,255,255,0.7);
}

#storageMain {
  width:50%;
  height: 50%;
  margin: auto;
  background: rgb(100,100,100);
}

#storageMain h1 {
  font-size: 1em;
  text-align: center;
  border-bottom: thin solid rgb(100,100,100);
  padding-bottom: 0.5em;
  width: 90%;
  margin: auto;
  margin-top: 0.5em; 
}

#storageLeftColumn {
  width:25%;
  height: auto;
  float: left;
  background: rgb(255,0,0);
}

#storageRightColumn {
  width: 75%;
  height: auto;
  float: right;
  background: rgb(0,255,0);
}

.underline{
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom:0;
  right:0;
}