﻿/* CSS Document */
body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:0.9em;
  text-align: justify;
  background: rgb(231,231,231);
}

header {
  text-align:center;
  width:50%;
  margin:auto;
}

section {
  width:50%;
  height:auto;
  margin:auto;
  padding:1em;
  background: rgb(255,255,255);
}

footer {
  width:100%;
  text-align: center;
}

h1 {
  border-bottom: thin solid rgb(189,183,107);
}